<footer class="app-footer">
    <div class="footer-container">
        <div class="footer-column">
            <h4>Symphonia</h4>
            <p>Dein Fachgeschäft für hochwertige Musikinstrumente und Zubehör seit 1995.</p>
            <div class="socials">
                <a class="ft-facebook" href="#"><i class="pi pi-facebook"></i></a>
                <a class="ft-linkedin" href="#"><i class="pi pi-linkedin"></i></a>
                <a class="ft-youtube" href="#"><i class="pi pi-youtube"></i></a>
                <a class="ft-instagram" href="#"><i class="pi pi-instagram"></i></a>
            </div>
        </div>

        <div class="footer-column">
            <h4>Rechtliches</h4>
            <ul>
                <li><a href="#">Datenschutzerklärung</a></li>
                <li><a href="#">Nutzungsbedingungen</a></li>
                <li><a href="#">Impressum</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h4>Kontakt</h4>
            <ul>
                <li><a href="#">Adresse: Fürstenallee 2</a></li>
                <li><a href="#">Telefon: +49 1234 56789</a></li>
                <li><a href="mailto:kontakt@symphonia.com">E-Mail: kontakt&#64;symphonia.com</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h4>FAQ</h4>
            <ul>
                <li><a href="#">Über uns</a></li>
                <li><a href="#">Neuigkeiten</a></li>
                <li><a href="#">Versand &amp; Rückgabe</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2026 Symphonia - Alle Rechte vorbehalten</p>
    </div>
</footer>
