.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper > p-paginator {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

.carousel-item {
    display: flex;
    justify-content: center;
    max-height: 40vh;
}
