@if (product | async; as productDetails) {
    <div class="wrapper">
        <div class="top">
            <div class="image">
                <app-product-image
                    [productImage]="productDetails.image"
                    [height]="300"
                    [width]="200"
                />
            </div>
            <div class="text">
                <app-product-info [product]="productDetails" />
            </div>
        </div>
        <div class="details">
            <app-product-detail-description [product]="productDetails" />
        </div>
    </div>
} @else {
    <div class="not-found">Produkt konnte nicht gefunden werden.</div>
}
