<section class="login-form">
    <p-avatar icon="pi pi-user" shape="circle" size="xlarge" />

    <div>Willkommen zurück</div>
    <div>Melde dich bei deinem Konto an</div>

    <p-inputgroup class="email-input">
        <p-inputgroup-addon>
            <i class="pi pi-envelope" ></i>
        </p-inputgroup-addon>
        <p-floatlabel variant="on">
            <p-inputmask class="email-mask" id="email" mask="_@_._" placeholder="max@mustermann.de"></p-inputmask>
            <label for="email">E-Mail-Adresse</label>
        </p-floatlabel>
    </p-inputgroup>
</section>
