<section class="login-form">
    <p-avatar icon="pi pi-user" shape="circle" size="xlarge" />

    <div>Willkommen zurück</div>
    <div>Melde dich bei deinem Konto an</div>

    <p-inputgroup class="email-input">
        <p-inputgroup-addon>
            <i class="pi pi-envelope"></i>
        </p-inputgroup-addon>
        <p-floatlabel variant="on">
            <input pInputText [(ngModel)]="value" type="text" />
            <label for="email">E-Mail-Adresse</label>
        </p-floatlabel>
    </p-inputgroup>
</section>
