<section class="banner">
    <div class="banner-image-wrapper">
        <img
            class="banner-image"
            ngSrc="/banner.png"
            alt="Banner"
            fill
        />
    </div>

    <div class="banner-content">
        <div class="banner-title">Finde dein perfektes Instrument</div>
        <div class="banner-paragraph">Entdecke eine riesige Auswahl an Gitarren, Klavieren, Drums &amp; mehr</div>
        <div class="banner-actions">
            <button class="banner-shopping-button">Jetzt shoppen</button>
            <button class="banner-offers-button">Top Angebote</button>
        </div>
    </div>
</section>


