/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';

.html,
body {
    margin: 0;
}

:root {
    --primary-black: #000000;
    --primary-blue: #12a6e1;
    --primary-white: #ffffff;
    --primary-grey: #e0e0e0;
}
