.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vh;
}

.wrapper > app-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.pi {
  font-size: 2rem;
}

.navbar-right > i {
  margin-left: 4vh;
}
