<div class="navbar">
    <a class="logo" routerLink="/">
        <img ngSrc="/logo.svg" alt="" height="44" width="102" />
    </a>

    <app-menu class="menu" (categorySelected)="onCategorySelected($event)" />

    <div class="navbar-buttons">
        @if (showSearch) {
            <form
                class="search-bar desktop-search-bar"
                (ngSubmit)="onSearch(searchInput.value)"
            >
                <input
                    #searchInput
                    type="search"
                    placeholder="Suche Produkte..."
                />
            </form>
        }
        <button type="button" (click)="toggleSearch()">
            <i class="pi pi-search"></i>
        </button>

        <button type="button" (click)="toggleFilters()">
            <i class="pi pi-filter"></i>
        </button>

        <a routerLink="/cart">
            @if (isBrowser) {
                <i
                    class="pi pi-shopping-cart"
                    pBadge
                    [value]="this.cart.getAmount()"
                    badgeStyleClass="cart-badge"
                ></i>
            }
        </a>
        <a routerLink="/profile" aria-label="Profil öffnen">
            <i class="pi pi-user"></i>
        </a>
    </div>
</div>

@if (showSearch) {
    <form
        class="search-bar mobile-search-bar"
        (ngSubmit)="onSearch(searchInput.value)"
    >
        <input
            #searchInput
            type="search"
            placeholder="Suche Produkte..."
            aria-label="Produkte suchen"
        />
    </form>
}

@if (showFilters) {
    <div class="filter-panel">
        <form (ngSubmit)="onApplyFilters(priceMin, priceMax)">
            <div class="filter-row">
                <label>
                    Preis von
                    <input
                        id="minPrice"
                        type="number"
                        min="0"
                        step="0.01"
                        [value]="priceMin < 0 ? '' : priceMin"
                        (input)="priceMin = +$any($event.target).value"
                        placeholder="0.00"
                /></label>
                <label>
                    bis
                    <input
                        id="maxPrice"
                        type="number"
                        min="0"
                        step="0.01"
                        [value]="priceMax < 0 ? '' : priceMax"
                        (input)="priceMax = +$any($event.target).value"
                        placeholder="9999.99"
                /></label>
            </div>
            <div class="filter-row">
                <button class="filter-btn-submit" type="submit">
                    Anwenden
                </button>
                <button
                    class="filter-btn-reset"
                    type="button"
                    (click)="onResetFilters()"
                >
                    Zurücksetzen
                </button>
            </div>
        </form>
    </div>
}
