<div class="wrapper">
    <a routerLink="/">
        <img ngSrc="/logo.svg" alt="" class="logo" height="44" width="102" />
    </a>

    <app-menu />

    <div class="navbar-buttons">
        <i
            class="pi pi-search"
            tabindex="0"
            (click)="toggleSearch()"
            (keydown.press)="toggleSearch()"
        ></i>
        <i class="pi pi-shopping-cart" routerLink="/cart"></i>
        <i class="pi pi-user" routerLink="/profile"></i>
    </div>
</div>

@if (showSearch) {
    <div class="search-bar">
        <input
            #searchInput
            type="text"
            [(ngModel)]="searchText"
            (input)="onSearchChange()"
            placeholder="Search products..."
        />
    </div>
}
