<p-table
    class="table"
    [value]="items"
    [lazy]="true"
    (onLazyLoad)="loadProducts($event)"
    [paginator]="true"
    [rows]="page?.size ?? DEFAULT_ITEMS_PER_PAGE"
    [totalRecords]="page?.total_elements ?? 0"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [showGridlines]="true"
    size="large"
>
    <ng-template #caption>
        <div class="caption">
            <h1>Produkte</h1>
            <a class="product-add" routerLink="add">
                <i class="pi pi-plus"></i>
                Produkt hinzufügen
            </a>
        </div>
    </ng-template>

    <ng-template #header>
        <tr class="headers">
            <th id="product" class="first-header">Produkt</th>
            <th id="category" class="remove-border-left">Kategorie</th>
            <th id="price" class="remove-border-left">Preis</th>
            <th id="actions" class="last-header remove-border-left">
                Aktionen
            </th>
        </tr>
    </ng-template>

    <ng-template #body let-product>
        <tr class="product">
            <td headers="product">
                <a
                    class="product-preview"
                    [routerLink]="['/product', product.id]"
                >
                    <app-product-image
                        [width]="100"
                        [height]="100"
                        [productImage]="product.image"
                    />
                    {{ product.name }}
                </a>
            </td>
            <td headers="category" class="category-column remove-border-left">
                {{ categoryToLabel(product.category) }}
            </td>
            <td headers="price" class="remove-border-left">
                <app-price-tag
                    class="product-price"
                    [price]="product.price"
                    [noTax]="true"
                />
            </td>
            <td headers="actions" class="remove-border-left">
                <div class="product-actions">
                    <a
                        class="product-view"
                        [routerLink]="['/product', product.id]"
                    >
                        <i class="pi pi-eye"></i>
                    </a>
                    <a class="product-edit" [routerLink]="['edit']">
                        <i class="pi pi-pencil"></i>
                    </a>

                    <button
                        class="product-delete"
                        type="button"
                        (click)="confirmDelete($event, product.id)"
                    >
                        <i class="pi pi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmdialog />
